In [1]:
import pandas as pd
import numpy as np

import sqlalchemy

import pandas as pd
from keys import connection_string

pd.set_option('display.max_columns', None)  # set option to display all columns
pd.options.display.max_colwidth = 1000
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
engine = sqlalchemy.create_engine(connection_string)

In [3]:
historical_data_query = """
    SELECT * FROM historical_data ORDER BY date ASC
"""
microsoft_query = """
    SELECT * FROM microsoft
"""
balance_sheet_data_query = """
    SELECT * FROM balance_sheet_data ORDER BY fiscaldateending ASC
"""
income_statement_data_query = """
    SELECT * FROM income_statement_data ORDER BY fiscaldateending ASC
"""
cash_flow_data_query = """
    SELECT * FROM cash_flow_data ORDER BY fiscaldateending ASC
"""

In [4]:
def preprocess_data(df):
    df[df.columns[0]] = pd.to_datetime(df[df.columns[0]])
    return df

In [5]:
stock_df =  pd.read_sql(historical_data_query, engine)
stock_df = preprocess_data(stock_df)
stock_df[['volume', 'split_coefficient']] = stock_df[['volume', 'split_coefficient']].astype('int64')

In [6]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5870 entries, 0 to 5869
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               5870 non-null   datetime64[ns]
 1   open               5870 non-null   float64
 2   high               5870 non-null   float64
 3   low                5870 non-null   float64
 4   close              5870 non-null   float64
 5   adjusted_close     5870 non-null   float64
 6   volume             5870 non-null   int64
 7   dividend_amount    5870 non-null   float64
 8   split_coefficient  5870 non-null   int64
dtypes: datetime64[ns](1), float64(6), int64(2)
memory usage: 412.9 KB

In [7]:
stock_df

,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,1999-11-01,93.25,94.19,92.12,92.37,28.87,26630600,0.00,1
1,1999-11-02,92.75,94.50,91.94,92.56,28.93,23174500,0.00,1
2,1999-11-03,92.94,93.50,91.50,92.00,28.76,22258500,0.00,1
3,1999-11-04,92.31,92.75,90.31,91.75,28.68,27119700,0.00,1
4,1999-11-05,91.81,92.87,90.50,91.56,28.62,35083700,0.00,1
...,...,...,...,...,...,...,...,...,...
5865,2023-02-23,255.56,256.84,250.48,254.77,254.77,29219095,0.00,1
5866,2023-02-24,249.96,251.00,248.10,249.22,249.22,24990905,0.00,1
5867,2023-02-27,252.46,252.82,249.39,250.16,250.16,21190042,0.00,1
5868,2023-02-28,249.07,251.49,248.73,249.42,249.42,22490950,0.00,1
5869,2023-03-01,250.76,250.93,245.79,246.27,246.27,27565259,0.00,1

In [8]:
stock_df.isnull().sum().max()

0

In [9]:
overview_df =  pd.read_sql(microsoft_query, engine)

In [10]:
overview_df.transpose()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           0
symbol                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  MSFT
assettype                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       Common Stock
name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   Microsoft Corporation
description                 Microsoft Corporation is an American multinational technology company which produces computer software, consumer electronics, personal computers, and related services. Its best known software products are the Microsoft Windows line of operating systems, the Microsoft Office suite, and the Internet Explorer and Edge web browsers. Its flagship hardware products are the Xbox video game consoles and the Microsoft Surface lineup of touchscreen personal computers. Microsoft ranked No. 21 in the 2020 Fortune 500 rankings of the largest United States corporations by total revenue; it was the world's largest software maker by revenue as of 2016. It is considered one of the Big Five companies in the U.S. information technology industry, along with Google, Apple, Amazon, and Facebook.
exchange                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              NASDAQ
currency                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 USD
country                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  USA
sector                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            TECHNOLOGY
industry                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       SERVICES-PREPACKAGED SOFTWARE
address                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ONE MICROSOFT WAY, REDMOND, WA, US
fiscalyearend                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           June
latestquarter                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     2022-12-31
marketcapitalization                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1856632652000.00
eps                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     9.01
profitmargin                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            0.33
quarterlyearningsgrowthyoy                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             -0.11
quarterlyrevenuegrowthyoy                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               0.02
analysttargetprice                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    286.24
beta                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    0.92
sharesoutstanding                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 7443800000
dividenddate                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      2023-03-09
exdividenddate                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          None

In [11]:
overview_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   symbol                      1 non-null      object
 1   assettype                   1 non-null      object
 2   name                        1 non-null      object
 3   description                 1 non-null      object
 4   exchange                    1 non-null      object
 5   currency                    1 non-null      object
 6   country                     1 non-null      object
 7   sector                      1 non-null      object
 8   industry                    1 non-null      object
 9   address                     1 non-null      object
 10  fiscalyearend               1 non-null      object
 11  latestquarter               1 non-null      object
 12  marketcapitalization        1 non-null      float64
 13  eps                         1 non-null      float64
 14  profitmargin                1 non-null      float64
 15  quarterlyearningsgrowthyoy  1 non-null      float64
 16  quarterlyrevenuegrowthyoy   1 non-null      float64
 17  analysttargetprice          1 non-null      float64
 18  beta                        1 non-null      float64
 19  sharesoutstanding           1 non-null      int64
 20  dividenddate                1 non-null      object
 21  exdividenddate              0 non-null      object
dtypes: float64(7), int64(1), object(14)
memory usage: 304.0+ bytes

In [12]:
balance_sheet_df =  pd.read_sql(balance_sheet_data_query, engine)
balance_sheet_df = preprocess_data(balance_sheet_df)

In [13]:
# replace 'None' with 0 in selected columns
balance_sheet_df[['treasurystock', 'deferredrevenue','capitalleaseobligations']] = balance_sheet_df[['treasurystock', 'deferredrevenue','capitalleaseobligations']].replace('None', 0)

# change datatypes to int64
int_cols = ['totalassets', 'totalcurrentassets', 'cashandcashequivalentsatcarryingvalue', 'cashandshortterminvestments',
            'inventory', 'currentnetreceivables', 'totalnoncurrentassets', 'propertyplantequipment',
            'accumulateddepreciationamortizationppe', 'intangibleassets', 'intangibleassetsexcludinggoodwill',
            'goodwill', 'investments', 'longterminvestments', 'shortterminvestments', 'othercurrentassets',
            'othernoncurrentassets', 'totalliabilities', 'totalcurrentliabilities', 'currentaccountspayable',
            'currentdebt', 'shorttermdebt', 'totalnoncurrentliabilities','longtermdebt', 'currentlongtermdebt',
            'longtermdebtnoncurrent', 'shortlongtermdebttotal', 'othercurrentliabilities', 'othernoncurrentliabilities',
            'totalshareholderequity', 'treasurystock', 'retainedearnings', 'commonstock']

balance_sheet_df[int_cols] = balance_sheet_df[int_cols].astype('int64')


balance_sheet_df[['treasurystock', 'deferredrevenue', 'shorttermdebt', 'capitalleaseobligations']] = balance_sheet_df[['treasurystock', 'deferredrevenue', 'shorttermdebt', 'capitalleaseobligations']].replace(0, np.nan)

# balance_sheet_df['treasurystock'] = balance_sheet_df['treasurystock'].replace(0, np.nan)
# balance_sheet_df['deferredrevenue'] = balance_sheet_df['deferredrevenue'].replace(0, np.nan)
# balance_sheet_df['shorttermdebt'] = balance_sheet_df['shorttermdebt'].replace(0, np.nan)
# balance_sheet_df['capitalleaseobligations'] = balance_sheet_df['capitalleaseobligations'].replace(0, np.nan)

In [14]:
balance_sheet_df

,fiscaldateending,reportedcurrency,totalassets,totalcurrentassets,cashandcashequivalentsatcarryingvalue,cashandshortterminvestments,inventory,currentnetreceivables,totalnoncurrentassets,propertyplantequipment,accumulateddepreciationamortizationppe,intangibleassets,intangibleassetsexcludinggoodwill,goodwill,investments,longterminvestments,shortterminvestments,othercurrentassets,othernoncurrentassets,totalliabilities,totalcurrentliabilities,currentaccountspayable,deferredrevenue,currentdebt,shorttermdebt,totalnoncurrentliabilities,capitalleaseobligations,longtermdebt,currentlongtermdebt,longtermdebtnoncurrent,shortlongtermdebttotal,othercurrentliabilities,othernoncurrentliabilities,totalshareholderequity,treasurystock,retainedearnings,commonstock,commonstocksharesoutstanding
0,2018-03-31,USD,245497000000,156659000000,9221000000,132270000000,2084000000,17208000000,83579000000,27929000000,28377000000,44126000000,8544000000,35582000000,135088000000,2818000000,123049000000,5097000000,7106000000,166258000000,46133000000,7623000000,23955000000,3677000000,230000000.00,114374000000,NaN,76900000000,3447000000,73480000000,77130000000,7500000000,5223000000,79239000000,NaN,9974000000,70418000000,7690000000
1,2018-06-30,USD,258848000000,169662000000,11946000000,133768000000,2662000000,26481000000,84300000000,29460000000,29223000000,43736000000,8053000000,35683000000,129579000000,1862000000,121822000000,6751000000,7442000000,176130000000,58488000000,8617000000,NaN,3998000000,NaN,112074000000,NaN,76200000000,3998000000,72242000000,76200000000,8744000000,5211000000,82718000000,NaN,13682000000,71223000000,7677000000
2,2018-09-30,USD,257619000000,164195000000,15137000000,135880000000,3614000000,17390000000,88490000000,31430000000,30953000000,43434000000,7579000000,35855000000,131941000000,2034000000,120743000000,7311000000,9792000000,171652000000,56277000000,8511000000,NaN,6497000000,NaN,109723000000,NaN,76200000000,6497000000,69733000000,76200000000,7953000000,5539000000,85967000000,NaN,17279000000,71303000000,7680000000
3,2018-12-31,USD,258859000000,156874000000,6638000000,127662000000,1961000000,19680000000,97079000000,32717000000,33082000000,50059000000,8482000000,41577000000,124407000000,2274000000,121024000000,7571000000,10129000000,166731000000,50318000000,7563000000,NaN,3516000000,NaN,110730000000,NaN,73200000000,3516000000,69653000000,73200000000,8297000000,6055000000,92128000000,NaN,16585000000,77556000000,7683000000
4,2019-03-31,USD,263281000000,159887000000,11212000000,131618000000,1951000000,19269000000,98273000000,33648000000,35431000000,49964000000,8103000000,41861000000,127455000000,2403000000,120406000000,7049000000,10258000000,168417000000,53861000000,7544000000,NaN,6515000000,NaN,108584000000,5972000000,73100000000,6515000000,66585000000,73100000000,7837000000,6763000000,94864000000,NaN,18338000000,77791000000,7666000000
5,2019-06-30,USD,286556000000,175552000000,11356000000,133819000000,2063000000,29524000000,105825000000,36477000000,35330000000,49776000000,7750000000,42026000000,129789000000,2649000000,122463000000,10146000000,14723000000,184226000000,69420000000,9382000000,74412000000,5516000000,NaN,108618000000,6188000000,72178000000,5516000000,66662000000,72200000000,9351000000,7581000000,102330000000,NaN,24150000000,78520000000,7643000000
6,2019-09-30,USD,278955000000,165896000000,13117000000,136636000000,2622000000,19087000000,115359000000,38409000000,36971000000,49621000000,7508000000,42113000000,131971000000,2684000000,123519000000,7551000000,14455000000,172894000000,58118000000,8574000000,68052000000,3017000000,3017000000.00,114776000000,6659000000,69495000000,3017000000,66478000000,69495000000,8507000000,8826000000,106061000000,NaN,27240000000,78882000000,7634000000
7,2019-12-31,USD,282794000000,167074000000,8864000000,134253000000,1823000000,23525000000,118120000000,40522000000,39597000000,49374000000,7126000000,42248000000,129483000000,2755000000,125389000000,7473000000,14630000000,172685000000,59640000000,8811000000,62442000000,6247000000,6247000000.00,113045000000,7172000000,69608000000,6247000000,63361000000,69608000000,9131000000,9658000000,110109000000,NaN,30739000000,79625000000,7611000000
8,2020-03-31,USD,285449000000,170505000000,11710000000,137626000000,1644000000,22699000000,117444000000,41221000000,41512000000,48919000000,6855000000,42064000000,132104000000,2660000000,125916000000,8536000000,13696000000,170948000000,58707000000,9246000000,60794000000,3748000000,3748000000.00,112241000000,7248000000,66610000000,3748000000,62862000000,66610000000,9151000000,9673000000,114501000000,NaN,32012000000,79813000000,7590000000
9,2020-06-30,USD,301311000000,181915000000,13576000000,136527000000,1895000000,32011000000,122096000000,44151000000,43197000000,50389000000,7038000000,43351000000,130044000000,2965000000,122951000000,11482000000,13138000000,183007000000,72310000000,12530000000,78360000000,3749000000,3749000000.00,110697000000,7671000000,63327000000,3749000000,59578000000,63327000000,10027000000,10632000000,118304000000,NaN,34566000000,80552000000,7571000000
10,2020-09-30,USD,301001000000,177077000000,17205000000,137977000000,2705000000,23951000000,126624000000,47927000000,45417000000,50813000000,6923000000,43890000000,131702000000,3103000000,120772000000,13544000000,13034000000,177609000000,70056000000,12509000000,72610000000,6497000000,6497000000.00,107553000000,7753000000,63552000000,6497000000,57055000000,63552000000,9476000000,11525000000,123392000000,NaN,39193000000,81089000000,7564000000
11,2020-12-31,USD,304137000000,173973000000,14432000000,131968000000,1924000000,28020000000,133064000000,51737000000,47715000000,50774000000,6555000000,44219000000,125914000000,3794000000,117536000000,12769000000,13561000000,173901000000,67486000000,12770000000,66774000000,5387000000,5387000000.00,106415000000,8875000000,60523000000,5387000000,55136000000,60523000000,10527000000,12544000000,130236000000,NaN,44973000000,81896000000,7546000000
12,2021-03-31,USD,308879000000,165614000000,13702000000,125407000000,2245000000,27129000000,146065000000,54945000000,49681000000,57825000000,8127000000,49698000000,118220000000,5395000000,111705000000,11640000000,14427000000,174374000000,72193000000,13412000000,65428000000,8051000000,8051000000.00,102181000000,9272000000,58058000000,8051000000,50007000000,58058000000,10450000000,12941000000,134505000000,NaN,50735000000,82308000000,7534000000
13,2021-06-30,USD,333779000000,184406000000,14224000000,130334000000,2636000000,39008000000,152773000000,59715000000,51351000000,57511000000,7800000000,49711000000,122266000000,5984000000,116110000000,13393000000,15075000000,191791000000,88657000000,15163000000,88282000000,8072000000,8072000000.00,103134000000,9629000000,58146000000,8072000000,50074000000,58146000000,11666000000,13427000000,141988000000,NaN,57055000000,83111000000,7519000000
14,2021-09-30,USD,335418000000,174326000000,19165000000,130615000000,3411000000,28203000000,164492000000,63772000000,52469000000,58249000000,7794000000,50455000000,122731000000,6393000000,111450000000,12951000000,21103000000,183440000000,80528000000,14832000000,82030000000,3249000000,3249000000.00,102912000000,10050000000,53288000000,3249000000,50039000000,53288000000,10816000000,14346000000,151978000000,NaN,66944000000,83751000000,7510000000
15,2021-12-31,USD,340389000000,174188000000,20604000000,125369000000,3019000000,34507000000,169701000000,67214000000,55277000000,58383000000,7462000000,50921000000,118260000000,6994000000,104765000000,12280000000,21256000000,180379000000,77510000000,15314000000,73538000000,4998000000,4998000000.00,102869000000,10774000000,53258000000,4998000000,48260000000,53258000000,11684000000,14747000000,160010000000,NaN,75045000000,84528000000,7500000000
16,2022-03-31,USD,344607000000,153922000000,12498000000,104693000000,3296000000,33613000000,194285000000,70298000000,58053000000,78719000000,11348000000,67371000000,96125000000,6907000000,92195000000,13320000000,21845000000,181683000000,77439000000,16085000000,73592000000,1749000000,1749000000.00,104244000000,11357000000,49926000000,1749000000,48177000000,49926000000,11865000000,15154000000,162924000000,NaN,79633000000,85767000000,7483000000
17,2022-06-30,USD,364840000000,169684000000,13931000000,104757000000,3742000000,45261000000,198956000000,74398000000,59660000000,78822000000,11298000000,67524000000,95583000000,6891000000,90826000000,16924000000,21897000000,198298000000,95082000000,19000000000,96816000000,2749000000,2749000000.00,103216000000,11489000000,49781000000,2749000000,47032000000,49781000000,13067000000,15526000000,166542000000,NaN,84281000000,86939000000,7464000000
18,2022-09-30,USD,359784000000,160812000000,22884000000,107262000000,4268000000,32015000000,202772000000,77037000000,60638000000,78267000000,10808000000,67459000000,99146000000,6839000000,84378000000,18003000000,23482000000,186218000000,87389000000,16609000000,87778000000,3248000000,3248000000.00,98829000000,11660000000,48622000000,3248000000,45374000000,48622000000,12058000000,15311000000,173566000000,NaN,92374000000,88535000000,7457000000
19,2022-12-31,USD,364552000000,157823000000,15646000000,99508000000,2980000000,36378000000,210929000000,82755000000,63459000000,78259000000,10354000000,67905000000,91155000000,7097000000,83862000000,19502000000,24994000000,181416000000,81718000000,15354000000,79252000000,3997000000,3997000000.00,99698000000,11998000000,48116000000,3997000000,44119000000,48116000000,12802000000,16479000000,183136000000,NaN,99368000000,90225000000,7447000000

In [15]:
balance_sheet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 38 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   fiscaldateending                        20 non-null     datetime64[ns]
 1   reportedcurrency                        20 non-null     object
 2   totalassets                             20 non-null     int64
 3   totalcurrentassets                      20 non-null     int64
 4   cashandcashequivalentsatcarryingvalue   20 non-null     int64
 5   cashandshortterminvestments             20 non-null     int64
 6   inventory                               20 non-null     int64
 7   currentnetreceivables                   20 non-null     int64
 8   totalnoncurrentassets                   20 non-null     int64
 9   propertyplantequipment                  20 non-null     int64
 10  accumulateddepreciationamortizationppe  20 non-null     int64
 11  intangibleassets                        20 non-null     int64
 12  intangibleassetsexcludinggoodwill       20 non-null     int64
 13  goodwill                                20 non-null     int64
 14  investments                             20 non-null     int64
 15  longterminvestments                     20 non-null     int64
 16  shortterminvestments                    20 non-null     int64
 17  othercurrentassets                      20 non-null     int64
 18  othernoncurrentassets                   20 non-null     int64
 19  totalliabilities                        20 non-null     int64
 20  totalcurrentliabilities                 20 non-null     int64
 21  currentaccountspayable                  20 non-null     int64
 22  deferredrevenue                         16 non-null     object
 23  currentdebt                             20 non-null     int64
 24  shorttermdebt                           15 non-null     float64
 25  totalnoncurrentliabilities              20 non-null     int64
 26  capitalleaseobligations                 16 non-null     object
 27  longtermdebt                            20 non-null     int64
 28  currentlongtermdebt                     20 non-null     int64
 29  longtermdebtnoncurrent                  20 non-null     int64
 30  shortlongtermdebttotal                  20 non-null     int64
 31  othercurrentliabilities                 20 non-null     int64
 32  othernoncurrentliabilities              20 non-null     int64
 33  totalshareholderequity                  20 non-null     int64
 34  treasurystock                           0 non-null      float64
 35  retainedearnings                        20 non-null     int64
 36  commonstock                             20 non-null     int64
 37  commonstocksharesoutstanding            20 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(32), object(3)
memory usage: 6.1+ KB

In [16]:
# sads

NameError: name 'sads' is not defined

In [17]:
income_statement_df =  pd.read_sql(income_statement_data_query, engine)
income_statement_df = preprocess_data(income_statement_df)

In [18]:
income_statement_df

,fiscaldateending,reportedcurrency,grossprofit,totalrevenue,costofrevenue,costofgoodsandservicessold,operatingincome,sellinggeneralandadministrative,researchanddevelopment,operatingexpenses,investmentincomenet,netinterestincome,interestincome,interestexpense,noninterestincome,othernonoperatingincome,depreciation,depreciationandamortization,incomebeforetax,incometaxexpense,interestanddebtexpense,netincomefromcontinuingoperations,comprehensiveincomenetoftax,ebit,ebitda,netincome
0,2018-03-31,USD,17550000000.00,26819000000.00,9269000000.00,9269000000.00,8292000000.00,5543000000.00,3715000000.00,9818000000.00,575000000.00,-691000000.00,None,691000000.00,-52000000.00,7000000.00,None,560000000.00,8641000000.00,1217000000.00,691000000.00,7424000000.00,6670000000.00,9332000000.00,9892000000.00,7424000000.00
1,2018-06-30,USD,20343000000.00,30085000000.00,34165000000.00,9742000000.00,10379000000.00,6031000000.00,3933000000.00,10464000000.00,636000000.00,-672000000.00,None,672000000.00,30085000000.00,-61000000.00,None,500000000.00,10680000000.00,1807000000.00,672000000.00,10379000000.00,7797000000.00,11352000000.00,11852000000.00,8873000000.00
2,2018-09-30,USD,19179000000.00,28615000000.00,15708000000.00,9905000000.00,9955000000.00,5247000000.00,3977000000.00,9780000000.00,681000000.00,-674000000.00,None,674000000.00,29289000000.00,14000000.00,None,556000000.00,10221000000.00,1397000000.00,674000000.00,8824000000.00,8463000000.00,10895000000.00,11451000000.00,8824000000.00
3,2018-12-31,USD,20048000000.00,31796000000.00,18673000000.00,12423000000.00,10258000000.00,5720000000.00,4070000000.00,10320000000.00,704000000.00,-672000000.00,None,672000000.00,32468000000.00,34000000.00,None,530000000.00,10385000000.00,1965000000.00,672000000.00,8420000000.00,9022000000.00,11057000000.00,11587000000.00,8420000000.00
4,2019-03-31,USD,20401000000.00,29993000000.00,16345000000.00,10170000000.00,10341000000.00,5744000000.00,4316000000.00,10491000000.00,668000000.00,-671000000.00,None,671000000.00,30664000000.00,16000000.00,None,431000000.00,10486000000.00,1677000000.00,671000000.00,8809000000.00,9557000000.00,11157000000.00,11588000000.00,8809000000.00
5,2019-06-30,USD,23305000000.00,33717000000.00,17199000000.00,10412000000.00,12405000000.00,6387000000.00,4513000000.00,11300000000.00,709000000.00,-669000000.00,321000000,669000000.00,33717000000.00,-121000000.00,None,400000000.00,12596000000.00,-591000000.00,669000000.00,12405000000.00,14112000000.00,13265000000.00,13665000000.00,13187000000.00
6,2019-09-30,USD,22649000000.00,32428000000.00,16363000000.00,10406000000.00,12686000000.00,5398000000.00,4565000000.00,10522000000.00,724000000.00,-637000000.00,139000000,637000000.00,33065000000.00,-18000000.00,None,559000000.00,12686000000.00,2008000000.00,637000000.00,10678000000.00,10957000000.00,13323000000.00,13882000000.00,10678000000.00
7,2019-12-31,USD,24548000000.00,36322000000.00,18986000000.00,12358000000.00,13891000000.00,6054000000.00,4603000000.00,11231000000.00,688000000.00,-654000000.00,281000000,654000000.00,36976000000.00,-19000000.00,None,574000000.00,14085000000.00,2436000000.00,654000000.00,11649000000.00,11455000000.00,14739000000.00,15313000000.00,11649000000.00
8,2020-03-31,USD,24046000000.00,34315000000.00,17650000000.00,10975000000.00,12975000000.00,6184000000.00,4887000000.00,11562000000.00,673000000.00,-614000000.00,153000000,614000000.00,34929000000.00,-3000000.00,None,491000000.00,12843000000.00,2091000000.00,614000000.00,10752000000.00,13683000000.00,13457000000.00,13948000000.00,10752000000.00
9,2020-06-30,USD,25694000000.00,38033000000.00,20161000000.00,12339000000.00,13407000000.00,7073000000.00,5214000000.00,13036000000.00,595000000.00,-686000000.00,None,686000000.00,38033000000.00,0.00,None,588000000.00,13422000000.00,2220000000.00,686000000.00,13407000000.00,11712000000.00,14108000000.00,14696000000.00,11202000000.00
10,2020-09-30,USD,26152000000.00,36724000000.00,16941000000.00,11002000000.00,15876000000.00,5350000000.00,4926000000.00,10865000000.00,570000000.00,-589000000.00,None,589000000.00,37313000000.00,0.00,None,589000000.00,16124000000.00,2231000000.00,589000000.00,13893000000.00,13807000000.00,16713000000.00,17302000000.00,13893000000.00
11,2020-12-31,USD,28882000000.00,42558000000.00,20907000000.00,14194000000.00,17897000000.00,6086000000.00,4899000000.00,11612000000.00,545000000.00,-571000000.00,545000000,571000000.00,43129000000.00,70000000.00,None,627000000.00,18337000000.00,2874000000.00,571000000.00,15463000000.00,15720000000.00,18908000000.00,19535000000.00,15463000000.00
12,2021-03-31,USD,28661000000.00,41059000000.00,20070000000.00,13045000000.00,17048000000.00,6409000000.00,5204000000.00,12229000000.00,519000000.00,-633000000.00,519000000,633000000.00,41692000000.00,6000000.00,None,616000000.00,17236000000.00,1779000000.00,633000000.00,15457000000.00,13552000000.00,17869000000.00,18485000000.00,15457000000.00
13,2021-06-30,USD,32161000000.00,45595000000.00,22025000000.00,13991000000.00,19095000000.00,7379000000.00,5687000000.00,13721000000.00,497000000.00,-553000000.00,497000000,553000000.00,46148000000.00,22000000.00,None,655000000.00,19405000000.00,2947000000.00,553000000.00,16458000000.00,16818000000.00,19958000000.00,20613000000.00,16458000000.00
14,2021-09-30,USD,31671000000.00,44743000000.00,20145000000.00,13646000000.00,20238000000.00,5834000000.00,5599000000.00,12098000000.00,520000000.00,-539000000.00,520000000,539000000.00,45282000000.00,6000000.00,None,665000000.00,20524000000.00,19000000.00,539000000.00,20505000000.00,19966000000.00,21063000000.00,21728000000.00,20505000000.00
15,2021-12-31,USD,34768000000.00,51228000000.00,24433000000.00,16960000000.00,22247000000.00,6763000000.00,5758000000.00,13231000000.00,503000000.00,-525000000.00,503000000,525000000.00,51753000000.00,-4000000.00,None,710000000.00,22515000000.00,3750000000.00,525000000.00,18765000000.00,17919000000.00,23040000000.00,23750000000.00,18765000000.00
16,2022-03-31,USD,33745000000.00,48732000000.00,23481000000.00,15615000000.00,20364000000.00,7075000000.00,6306000000.00,14172000000.00,519000000.00,-503000000.00,519000000,503000000.00,49235000000.00,-11000000.00,None,791000000.00,20190000000.00,3462000000.00,503000000.00,16728000000.00,13815000000.00,20693000000.00,21484000000.00,16728000000.00
17,2022-06-30,USD,35436000000.00,51406000000.00,25283000000.00,16429000000.00,20534000000.00,8053000000.00,6849000000.00,15703000000.00,552000000.00,-496000000.00,552000000,496000000.00,51902000000.00,-23000000.00,None,801000000.00,20487000000.00,3747000000.00,496000000.00,16740000000.00,14538000000.00,20983000000.00,21784000000.00,16740000000.00
18,2022-09-30,USD,34670000000.00,49636000000.00,22798000000.00,15452000000.00,21518000000.00,6524000000.00,6628000000.00,13974000000.00,641000000.00,-500000000.00,110000000,500000000.00,50136000000.00,-31000000.00,None,822000000.00,21572000000.00,4016000000.00,500000000.00,17556000000.00,14891000000.00,22072000000.00,22894000000.00,17556000000.00
19,2022-12-31,USD,35259000000.00,52032000000.00,27393000000.00,17488000000.00,20399000000.00,8016000000.00,6844000000.00,16749000000.00,700000000.00,-490000000.00,18000000,490000000.00,52522000000.00,-38000000.00,None,1089000000.00,20339000000.00,3914000000.00,490000000.00,16425000000.00,17311000000.00,20829000000.00,21918000000.00,16425000000.00

In [19]:
income_statement_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   fiscaldateending                   20 non-null     datetime64[ns]
 1   reportedcurrency                   20 non-null     object
 2   grossprofit                        20 non-null     float64
 3   totalrevenue                       20 non-null     float64
 4   costofrevenue                      20 non-null     float64
 5   costofgoodsandservicessold         20 non-null     float64
 6   operatingincome                    20 non-null     float64
 7   sellinggeneralandadministrative    20 non-null     float64
 8   researchanddevelopment             20 non-null     float64
 9   operatingexpenses                  20 non-null     float64
 10  investmentincomenet                20 non-null     float64
 11  netinterestincome                  20 non-null     float64
 12  interestincome                     20 non-null     object
 13  interestexpense                    20 non-null     float64
 14  noninterestincome                  20 non-null     float64
 15  othernonoperatingincome            20 non-null     float64
 16  depreciation                       20 non-null     object
 17  depreciationandamortization        20 non-null     float64
 18  incomebeforetax                    20 non-null     float64
 19  incometaxexpense                   20 non-null     float64
 20  interestanddebtexpense             20 non-null     float64
 21  netincomefromcontinuingoperations  20 non-null     float64
 22  comprehensiveincomenetoftax        20 non-null     float64
 23  ebit                               20 non-null     float64
 24  ebitda                             20 non-null     float64
 25  netincome                          20 non-null     float64
dtypes: datetime64[ns](1), float64(22), object(3)
memory usage: 4.2+ KB

In [ ]:
cash_flow_df =  pd.read_sql(cash_flow_data_query, engine)
cash_flow_df = preprocess_data(cash_flow_df)

In [ ]:
cash_flow_df

In [ ]:
cash_flow_df.info()